@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

*{
  width: 100%;
  justify-items: center; 
  font-family: "SF UI Text";
}

.App{
  background-color: #F1F4F8;
}

.DialogCards{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-inline: 48px;
  margin: 32px 0;
}

.InterviewButton{
  padding: 0 48px 48px;
  display: flex;
  justify-content: flex-end;
}